<!-- Footer -->
  <footer class="bg-black text-white pt-5">
  <div class="container">
    <div class="row text-center text-md-start">

      <!-- LOGO -->
      <div class="col-12 col-md-4 mb-4">
        <h2 class="fw-bold">BLOOM<br>STUDIO</h2>
        <p class="text-muted small">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>

        <div class="social-icons d-flex justify-content-center justify-content-md-start gap-3 mt-3">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-github"></i>
        </div>
      </div>

      <!-- COMPAÑÍA / RECURSOS -->
      <div class="col-12 col-md-4 mb-4">
        <div class="row">
          <div class="col-6">
            <h5 class="fw-bold">COMPAÑÍA</h5>
            <ul class="list-unstyled footer-list">
              <li><a href="/Home.html">Inicio</a></li>
              <li><a href="/AboutUs/AboutUs.html">Sobre nosotros</a></li>
              <li><a href="/Shop/shop.html">Tienda</a></li>
              <li><a href="/Contact/Contact.html">Contáctanos</a></li>
            </ul>
          </div>

          <div class="col-6">
            <h5 class="fw-bold">RECURSOS</h5>
            <ul class="list-unstyled footer-list">
              <li><a href="#">Spotify Playlist</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Youtube Playlist</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- CONTACTO -->
      <div class="col-12 col-md-4 mb-4 text-center text-md-end">

        <div class="d-flex justify-content-center justify-content-md-end align-items-center mb-3 me-2">
          <div>
            <small>Tel</small><br>
            555-555-5555
          </div>
          <span class="material-symbols-outlined ms-2">phone</span>
        </div>

        <div class="d-flex justify-content-center justify-content-md-end align-items-center mb-3">
          <div>
            <small>Mail</small><br>
            info@bloomstudio.com
          </div>
          <span class="material-symbols-outlined ms-2">mail</span>
        </div>

        <div class="d-flex justify-content-center justify-content-md-end gap-3 mt-3">
          <i class="fa-brands fa-cc-visa fa-2x"></i>
          <i class="fa-brands fa-cc-mastercard fa-2x"></i>
          <i class="fa-brands fa-paypal fa-2x"></i>
          <i class="fa-brands fa-cc-apple-pay fa-2x"></i>
        </div>

      </div>

    </div>
  </div>

   <!-- Barra inferior del footer -->
<div class="footer-bottom py-3">
  <div class="container">
    <div class="row align-items-center text-center text-md-start">

      <!-- Links legales -->
      <div class="col-12 col-md-8 mb-2 mb-md-0">
        <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-start gap-3 small">
          <a href="#" class="footer-link">Sobre nosotros</a>
          <a href="#" class="footer-link">Contacto</a>
          <a href="#" class="footer-link">Privacidad</a>
          <a href="#" class="footer-link">Términos y condiciones</a>
        </div>
      </div>

      <!-- Copyright -->
      <div class="col-12 col-md-4 text-md-end">
        <p class="small mb-0 footer-copy">
          &copy; 2025, Todos los derechos reservados a <strong>Bloom Studio</strong>
        </p>
      </div>

    </div>
  </div>
</div>

</footer>