<header class="header-principal">
    <div class="header-contenido">

      <!-- LOGO -->
      <div class="logo-container">
        <a href="#">
          <img src="../src/images/logo.jpeg" alt="Logo" class="logo-img">
        </a>
      </div>

      <!-- NAV DESKTOP -->
      <nav class="nav-principal">
        <ul>
          <li><a href="/index.html">Inicio</a></li>
          <li><a href="/About/AboutUs.html">Sobre Nosotros</a></li>
          <li><a href="/Shop/shop.html">Tienda</a></li>
          <li><a href="/Contact/Contact.html">Contáctanos</a></li>
          <li><a href="/ProductDetail/ProductDetail.html">Visualizador</a></li>
        </ul>
      </nav>

      <!-- BUSCADOR -->
      <div class="contenedor-buscador">
        <input type="text" placeholder="¿Qué estás buscando?">
        <button>
          <span class="material-symbols-outlined">search</span>
        </button>
      </div>

      <!-- ICONOS -->
      <div class="iconos-acciones">
        <span class="material-symbols-outlined">account_circle</span>
        <span class="material-symbols-outlined">favorite</span>
        <span class="material-symbols-outlined">shopping_cart<span id="cuenta-carrito">0</span></span>
      </div>

      <!-- BOTÓN HAMBURGUESA -->
      <button class="barras" aria-label="Abrir menú"></button>

    </div>
  </header>

  <!-- MENÚ MÓVIL -->
  <nav class="desplegable">
    <ul>
      <li><a href="/index.html">Inicio</a></li>
          <li><a href="/About/AboutUs.html">Sobre Nosotros</a></li>
          <li><a href="/Shop/shop.html">Tienda</a></li>
          <li><a href="/Contact/Contact.html">Contáctanos</a></li>
          <li><a href="/ProductDetail/ProductDetail.html">Visualizador</a></li>
    </ul>
  </nav>