/* ===== HEADER ===== */
.header-principal {
  background-color: #F9F7FF;
  border-bottom: 1px solid #D9D9D9;
  height: 100px;
  display: flex;
  align-items: center;
}

.header-contenido {
  width: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

/* ===== LOGO ===== */
.logo-img {
  height: 95px;
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.05);
}

/* ===== NAV ===== */

.nav-principal {
  justify-self: center;
}

.nav-principal ul {
  display: flex;
  gap: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-principal a {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
  font-weight: 500;
}

.nav-principal a:hover {
  color: #4C3C68;
}

/* ===== BUSCADOR ===== */
.contenedor-buscador {
  display: flex;
  align-items: center;
}

.contenedor-buscador input {
  border: 1px solid #ced4da;
  padding: 8px 14px;
  border-radius: 25px 0 0 25px;
  outline: none;
}

.contenedor-buscador button {
  border: none;
  background-color: #4C3C68;
  color: white;
  padding: 1px 16px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-buscador .material-symbols-outlined {
  font-size: px;
  line-height: 1;
  color: white;
}


/* ===== ICONOS ===== */
.iconos-acciones {
  display: flex;
  align-items: center;
  gap: 20px;
}

.material-symbols-outlined {
  font-size: 40px;
  color: #4C3C68;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.material-symbols-outlined:hover {
  transform: scale(1.15);
}

/* ===== HAMBURGUESA ===== */
.barras {
  display: none;
  background-image: url('../src/images/icono-menu.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* ===== MENÚ MÓVIL ===== */
.desplegable {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background-color: #F9F7FF;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  box-shadow: 5px 0 15px rgba(0,0,0,0.1);
  padding-top: 100px;
  z-index: 1000;
}

.desplegable ul {
  list-style: none;
  padding: 0 30px;
}

.desplegable li a {
  display: block;
  padding: 15px 0;
  text-decoration: none;
  color: #4C3C68;
  font-size: 1.2rem;
  border-bottom: 1px solid #D9D9D9;
}

/* CLASE ACTIVA */
.abrir-menu {
  transform: translateX(0);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 1024px) {
  .nav-principal,
  .contenedor-buscador {
    display: none;
  }

  .barras {
    display: block;
  }

  .logo-img {
    height: 45px;
  }
  
}#cuenta-carrito{
  background-color: black ;
  border-radius: 100%;
  display: inline-block;
  width: 20px;
  line-height: 20px;
  aspect-ratio: 1;
  text-align: center;
  position: absolute;
  color: white;
  font-size: 12px;
}

